<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>This is my portfolio
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <div class="jumbotron">
        <h1 class="display-12"><%= project.title %></h1>
        <p class="lead"><%= project.description %>
        <%= link_to 'Show', project, class: "btn btn-secondary" %>
        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_project_path(project) , class: "btn btn-secondary" %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
        </p>
        <%end%>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Project', new_project_path, class: "btn btn-secondary" %>
<%end%>